@import '../../../../styles/main.scss';

.articles {
  &__loader {
    margin: 0 auto;
  }

  &__article {
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      @extend %h1;
      margin-bottom: 16px;
  
      @include on-tablet {
        margin-bottom: 20px;
        text-align: center;
      }
    }

    &-content {
      @extend %body;
      white-space: pre-line;
    }
  }
}
