@import '../../styles/main';

.header-nav-link {
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: $color-black;

  &--active {
    color: $color-green-dark;
  }
}