@import '../../styles/main';

.header-nav-link {
  @extend %h3;
  transition: all 0.3s;

  &:hover {
    color: $color-green-hover;
  }

  &--active {
    color: $color-green-dark;

    &:hover {
      color: $color-green-dark;
    }
  }
}