@import '../../styles/main.scss';

$button-size: 32px;
$button-gap: 20px;

.reviews-slider {
  @include on-tablet {
    position: relative;
  }

  &__screen {
    overflow: hidden;
    margin-bottom: 16px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__film {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    row-gap: 16px;
    transition: all 0.3s;

    @include on-tablet {
      row-gap: 20px;
    }

    @include on-desktop {
      grid-template-columns: repeat(2, calc(50% - 10px));
      grid-template-rows: 1fr;
      grid-auto-columns: calc(50% - 10px);
      column-gap: 20px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 14px;

    @include on-tablet {
      position: absolute;
      top: 50%;
      left: -(calc($button-gap + $button-size));
      transform: translateY(-50%);
      justify-content: space-between;
      width: calc(100% + $button-size * 2 + $button-gap * 2);
    }
  }

  &__button {
    width: $button-size;
    height: $button-size;
    border: 0.5px solid $color-grey-elements;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }

    &:disabled {
      opacity: 0.5;
      transform: none;
      cursor: auto;
    }

    &--left {
      background-image: url(../../assets/img/chevron-left.svg);
    }

    &--right {
      background-image: url(../../assets/img/chevron-right.svg);
    }
  }

  &__loader {
    margin: 0 auto;
  }
}
