@import '../../../../../styles/main.scss';

.label {
  padding-inline: 8px;
  color: $color-grey-text;

  @extend %secondary-body;

  &--is-required::after {
    content: " *";
    color: $color-red-error;
  }
}
