@import '../../styles/main.scss';

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__label {
    padding-inline: 8px;
    color: $color-grey-text;

    @extend %secondary-body;
  }

  &__container {
    &--has-error {

      .dropdown__control {
        border-color: $color-red-error !important;

        &:hover {
          border-color: $color-red-error !important;
          box-shadow: 0 0 5px rgba($color-red-error, 0.3) !important;
        }

        &--is-focused {
          border-color: $color-red-error !important;
          box-shadow: 0 0 5px rgba($color-red-error, 0.4) !important;
        }
      }
    }
  }

  &__control {
    padding: 7px 16px !important;
    background-color: transparent !important;
    border: 1px solid $color-grey-blocks !important;
    border-radius: 5px !important;
    transition: all 0.3s !important;

  &:hover {
    border-color: $color-black !important;
    box-shadow: 0 0 5px rgba($color-grey-blocks, 0.3);
  }

    &--is-focused {
      box-shadow: 0 0 5px rgba($color-black, 0.4) !important;
      border-color: $color-black !important;
    }

    &--menu-is-open {
      border-radius: 5px 5px 0 0 !important;
    }
  }

  &__value-container {
    padding: 0 !important;
  }

  &__indicator {
    padding: 2px !important;
  }

  &__indicator-separator {
    display: none;
  }

  &__placeholder {
    @extend %body;

    margin-left: 0 !important;
    color: $color-grey-elements !important;
  }

  &__single-value {
    font-family: Gilroy, sans-serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 25px !important;
    color: $color-grey-blocks !important;
  }

  &__input-container {
    margin: 0 !important;
    padding: 0 !important;
  }

  &__input {
    width: unset !important;
    font-family: Gilroy, sans-serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 25px !important;
    color: $color-black !important;
    background: none !important;
  }

  &__menu {
    margin: 0 !important;
    background-color: $color-white !important;
    border-radius: 0 0 5px 5px !important;
    border: 0.5px solid $color-grey-text !important;
    border-top: 0 !important;
    box-shadow: 0 0 5px rgba($color-black, 0.4) !important;

    &-list {
      padding: 0 !important;
    }

    &-notice--no-options {
      font-family: Gilroy, sans-serif !important;
      font-size: 16px !important;
      font-weight: 500 !important;
      line-height: 19px !important;
      color: $color-grey-elements !important;
    }
  }

  &__option {
    padding: 16px !important;
    font-family: Gilroy, sans-serif !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 25px !important;
    color: $color-black !important;
    cursor: pointer !important;
    transition: all 0.3s !important;

    &--is-focused {
      background-color: $color-grey-hover !important;
    }

    &--is-selected {
      background-color: $color-green-disabled !important;
    }
  }

  &__error {
    position: relative;
    padding-left: 30px;
    @extend %body-error;

    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 8px;
      width: 14px;
      height: 14px;
      background-image: url(../../assets/img/error.svg);
      background-size: contain;
    }
  }
}
