@import '../../styles/main.scss';

.main-button {
  position: relative;
  min-width: 114px;
  padding: 13px 16px;
  border: none;
  border-radius: 5px;
  background-color: $color-green-dark;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;

  @extend %body-bold-button-white;

  &:hover {
    box-shadow: 0 0 7px rgba($color-black, 0.5);
  }

  &:active {
    transform: scale(0.97);
  }

  &:focus {
    outline: 1px solid $color-grey-elements;
    box-shadow: 0 0 7px rgba($color-black, 0.5);
  }

  &:disabled {
    background-color: $color-green-disabled;
    box-shadow: none;
    transform: none;
    cursor: auto;
  }

  &__loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
