@import '../../styles/main.scss';

.main-button {
  position: relative;
  min-width: 114px;
  padding: 13px 16px;
  border: none;
  border-radius: 5px;
  background-color: $color-green-dark;
  text-align: center;
  cursor: pointer;

  @extend %body-bold-button-white;

  &:disabled {
    background-color: $color-green-disabled;
    cursor: auto;
  }

  &__loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
