@import '../../styles/main.scss';

.confirmation {
  max-width: 450px;

  @extend %pop-up;

  &__message {
    @extend %body;

    margin-bottom: 20px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  &__button {
    min-width: 62px;
  }
}
