@import '../../../../../styles/main.scss';

.input-password {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;

  &__field {
    @extend %input-field;

    &--error {
      @extend %input-field--error;
    }
  }

  &__button {
    position: absolute;
    right: 8px;
    top: 35px;
  }
}