@import '../../../styles/main';

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    @include page-container;
  }

  &__menu {
    box-sizing: border-box;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 50px 16px 20px;
    background-color: $color-white;
    z-index: 1;
    transition: all 0.3s;
    overflow: hidden;

    @include on-desktop {
      position: static;
      display: flex;
      flex-grow: 1;
      align-items: center;
      height: auto;
      padding: 0;
      background-color: transparent;
    }

    &--open {
      top: 0;
      overflow: scroll;
    }

    &-closer {
      position: absolute;
      top: 32px;
      right: 16px;

      @include on-tablet {
        right: 40px;
      }

      @include on-desktop {
        display: none;
      }
    }
  }

  &__burger {
    @include on-desktop {
      display: none;
    }
  }
}
