@mixin on-wide-screen {
  @media (min-width: $media-wide-screen) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $media-desktop) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: $media-tablet) {
    @content;
  }
}

@mixin grid-container($num-columns, $column-gap) {
  display: grid;
  grid-template-columns: repeat($num-columns, 1fr);
  column-gap: $column-gap;
}

@mixin page-grid {
  --columns: 2;
  row-gap: 32px;

  @include grid-container(var(--columns), 20px);

  @include on-tablet {
    --columns: 6;
  }

  @include on-desktop {
    --columns: 12;
    row-gap: 50px;
  }
}

@mixin page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 40px;
  }

  @include on-desktop {
    padding-inline: 80px;
  }
}
