$color-white: #fffdfe;
$color-black: #0c0c10;
$color-grey-text: #343a40;
$color-grey-blocks: #495057;
$color-grey-elements: #88939e;
$color-green-dark: #344c11;
$color-green-hover: #426017;
$color-green-element: #778d45;
$color-green-disabled: #aec670;
$color-red-error: #d33d3d;
$media-wide-screen: 1280px;
$media-desktop: 1024px;
$media-tablet: 768px;
// $media-tablet: 640px;
