$color-white: #fffdfe;
$color-black: #0c0c10;
$color-grey-text: #343a40;
$color-grey-blocks: #495057;
$color-grey-elements: #88939e;
$color-green-dark: #344C11;
$color-green-disabled: #9aa48a;
$color-green-light: #aec670;
$color-red-error: #dc1244;
