@import '../../styles/main.scss';

.search-field {
  &__form {
    position: relative;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 11px 50px;
    border: 1px solid $color-green-element;
    border-radius: 5px;
    outline: none;
    color: $color-black;
    transition: all 0.3s;

    @extend %secondary-body;

    &:hover {
      border-color: $color-black;
      box-shadow: 0 0 5px rgba($color-grey-blocks, 0.3);
    }

    &:focus {
      border-color: $color-black;
      box-shadow: 0 0 5px rgba($color-black, 0.4);
    }

    &::placeholder {
      @extend %secondary-body;

      font-weight: 400;
      color: $color-grey-elements;
    }
  }

  &__reset {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }

  &__submit {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }
}
