@import '../../styles/main.scss';

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  height: min-content;

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include on-desktop {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 60px;
    }
  }

  &__item {
    width: 100%;
    padding-block: 15px;
    text-align: center;

    @include on-desktop {
      width: auto;
      padding: 0;
    }
  }
}
