@import '../../styles/main.scss';

.rating {
  &__title {
    margin-bottom: 8px;
    padding-inline: 8px;
    color: $color-grey-text;

    @extend %secondary-body;
  }

  &__stars {
    display: flex;
    column-gap: 10px;
  }

  &__star {
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;
    background-image: url(../../assets/img/star.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-image: url(../../assets/img/star-active.svg);
    }

    &--active {
      background-image: url(../../assets/img/star-active.svg);
    }
  }
}
