@import '../../styles/main.scss';

.input-error {
  position: relative;
  padding-left: 30px;
  @extend %body-error;

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 8px;
    width: 14px;
    height: 14px;
    background-image: url(../../assets/img/error.svg);
    background-size: contain;
  }
}
