@import '../../styles/main.scss';

.notification {
  max-width: 450px;

  @extend %pop-up;

  &--error {
    border-color: $color-red-error;
    box-shadow: 0 0 7px rgba($color-red-error, 0.5);
  }

  &__message {
    @extend %h3;

    margin-bottom: 20px;
    text-align: center;
  }

  &__errors {
    margin: 0 auto 20px;
  }

  &__button {
    display: block;
    margin: 0 auto;
  }
}
