@import '../../styles/main';

.footer {
  background-color: $color-green-light;
  padding-block: 80px;

  &__container {
    display: flex;
    align-items: center;
    gap: 100px;
    @include page-container;
  }

  &__nav-bar {
    margin-bottom: 20px;
  }

  &__nav-list {
    display: flex;
    gap: 60px;
  }

  &__nav-link {
    font-family: Gilroy, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: $color-black;
  }
}
