@import '../../styles/main';

.footer {
  background-color: $color-green-light;
  padding-block: 32px;

  @include on-desktop {
    padding-block: 80px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    @include page-container;

    @include on-desktop {
    flex-direction: row;
    gap: 100px;
    }
  }

  &__nav-bar {
    margin-bottom: 20px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include on-desktop {
      flex-direction: row;
    }
  }

  &__nav-link {
    @extend %h3;
  }
}
