@import '../../styles/main.scss';

.add-advice {
  position: relative;

  &__title {
    @extend %body;

    margin-bottom: 20px;
    font-weight: 600;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__button {
    @include on-tablet {
      max-width: 300px;
    }
  }

  &__notification {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
