@import '../../styles/main.scss';

.home-page {
  @include page-grid;

  &__hero {
    position: relative;
    grid-column: 1 / -1;
  }

  &__articles {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 3 / -3;
    }
  }

  &__contacts {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 3 / -3;
    }

    @include on-desktop {
      grid-column: 3 / span 8;
    }

    &-title {
      @extend %h1;
      margin-bottom: 24px;

      @include on-tablet {
        margin-bottom: 20px;
        text-align: center;
      }

      @include on-desktop {
        margin-bottom: 50px;
      }
    }

    &-content {
      @include grid-container(2, 50px);
      row-gap: 24px;

      @include on-tablet {
        row-gap: 30px;
      }

      @include on-wide-screen {
        column-gap: 100px;
      }
    }
  }

  &__contact-us {
    grid-column: 1 / -1;

      @include on-desktop {
      grid-column: 2 / 3;
    }
  }

  &__call-request {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / 2;
    }
  }

  &__reviews {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 3 / -3;
    }

    @include on-desktop {
      grid-column: 2 / -2;
    }

    &-title {
      margin-bottom: 24px;

      @extend %h1;

      @include on-tablet {
        margin-bottom: 20px;
        text-align: center;
      }

      @include on-desktop {
        margin-bottom: 50px;
      }
    }
  }

  &__add-review {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 3 / -3;
    }

    @include on-desktop {
      grid-column: 2 / -2;
    }
  }
}
