@import '../../styles/main.scss';

.review {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 calc(50% - 10px);
  padding: 40px 64px;
  border: 0.5px solid $color-grey-blocks;
  border-radius: 20px;

  @include on-desktop {
    padding: 30px 48px;
  }

  @include on-tablet {
    flex: 0 0 100%;
  }

  &__text {
    @extend %secondary-body;
    margin-bottom: 20px;
    text-align: center;
    color: $color-grey-text;
  }

  &__person {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: $color-white;
    user-select: none;
  }

  &__name {
    @extend %secondary-body;

    margin-bottom: 10px;
    color: $color-black;
  }

  &__stars {
    display: flex;

    &-star {
      height: 24px;
      width: 24px;
      margin-right: 5px;
      background-image: url(../../assets/img/star.svg);
      background-repeat: no-repeat;
      background-position:center;
      background-size: contain;

      &:last-child {
        margin-right: 0;
      }
    }

    &--1 &-star:nth-child(1),
    &--2 &-star:nth-child(-n+2),
    &--3 &-star:nth-child(-n+3),
    &--4 &-star:nth-child(-n+4),
    &--5 &-star:nth-child(-n+5) {
      background-image: url(../../assets/img/star-active.svg);
    }
  }
}
