@import '../../../styles/main.scss';

.cr-order {
  position: relative;
  padding: 40px;
  border: 0.5px solid $color-green-element;
  border-radius: 20px;

  &--rejected {
    background-color: rgba($color: $color-red-error, $alpha: 0.2);
  }

  &--created {
    background-color: rgba($color: $color-grey-elements, $alpha: 0.3);
  }

  &--in_progress {
    background-color: rgba($color: $color-green-disabled, $alpha: 0.3);
  }

  &--done {
    background-color: rgba($color: $color-green-dark, $alpha: 0.3);
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;

    @extend %h3;
  }

  &__date {
    display: block;
    margin-bottom: 8px;
    text-align: right;
    font-style: italic;
    color: $color-grey-elements;

    @extend %secondary-body;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__item {
    @extend %body;

    &-name {
      @extend %body-bold-button;
    }

    &-empty {
      color: $color-grey-elements;
    }
  }

  &__notification {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
