@import '../../styles/main.scss';

.auth {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include on-desktop {
    flex-direction: row;
  }

  &__button {
    @include on-tablet {
      margin: 0 auto;
      width: 300px;
    }

    @include on-desktop {
      width: auto;
    }
  }
}
