@import './styles/main.scss';

.App {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 100vh;

  @include on-desktop {
    gap: 100px;
  }

  &__title {
    text-align: center;
    color:purple;
  }
}