@import '../../styles/main';

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    @include page-container;
  }

  &__menu {
    display: none;
    
    @include on-desktop {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background: transparent;
    background-image: url(../../assets/img/burger-menu.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include on-desktop {
      display: none;
    }
  }
}
