.control-button {
  height: 24px;
  width: 24px;
  background-color: transparent;
  background-position: center;
  border: none;
  cursor: pointer;

  &--edit {
    background-image: url(../../assets/img/pencil.svg);
  }

  &--remove {
    background-image: url(../../assets/img/trash-bin.svg);
  }

  &--approve {
    background-image: url(../../assets/img/approve.svg);
  }
}
