@import '../../styles/main.scss';

.services-page {
  @include page-grid;

  &__event-types {
    grid-column: 1 / -1;
  }

  &__info {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 10;
    }

    @include on-desktop {
      grid-column: 1 / 9;
    }

    &-title {
      margin-bottom: 20px;

      @extend %h2;
    }

    &-description {
      @extend %body;
    }
  }
}
