@import '../../styles/main.scss';

.article {
  &__title {
    @extend %h1;
    margin-bottom: 16px;

    @include on-desktop {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__content {
    @extend %body;
    white-space: pre-line;
  }
}
