@import '../../../../styles/main.scss';

.event-types {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include on-desktop {
    row-gap: 30px;
  }

  &__events {
    --columns: 1;
    row-gap: 20px;

    @include on-tablet {
      --columns: 2;
    }

    @include on-desktop {
      --columns: 3;
      row-gap: 50px;
    }

    @include grid-container(var(--columns), 20px);
  }

  &__title {
    text-align: center;

    @extend %h1;
  }

  &__loader {
    margin: 0 auto;
  }

  &__errors {
    margin: 0 auto;
  }

  &__notification {
    position: absolute;
    margin: 0 auto;
    top: 50px;
    left: 0;
    right: 0;
  }
}
